<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>This is the webpage of our Alumni</h1>
    <h3>Here is the list of Alumni's we have :</h3>
    <br />
    <!-- <h3>1 : <a href="http://localhost:8090/ats/1"></a></h3>
    <h3>2 : <a href="http://localhost:8090/ats/2"></a></h3>
    <h3>3 : <a href="http://localhost:8090/ats/3"></a></h3>
    <h3>4 : <a href="http://localhost:8090/ats/4"></a></h3>
    <h3>5 : <a href="http://localhost:8090/ats/5"></a></h3>
    <h3>6 : <a href="http://localhost:8090/ats/6"></a></h3>
    <h3>7 : <a href="http://localhost:8090/ats/7"></a></h3>
    <h3>8 : <a href="http://localhost:8090/ats/8"></a></h3>
    <h3>9 : <a href="http://localhost:8090/ats/9"></a></h3>
    <h3>10 : <a href="http://localhost:8090/ats/10"></a></h3>
    <h3>11 : <a href="http://localhost:8090/ats/11"></a></h3>
    <h3>12 : <a href="http://localhost:8090/ats/12"></a></h3>
    <h3>13 : <a href="http://localhost:8090/ats/13"></a></h3>
    <h3>14 : <a href="http://localhost:8090/ats/14"></a></h3>
    <h3>15 : <a href="http://localhost:8090/ats/15"></a></h3>
    <h3>16 : <a href="http://localhost:8090/ats/16"></a></h3>
    <h3>17 : <a href="http://localhost:8090/ats/17"></a></h3>
    <h3>18 : <a href="http://localhost:8090/ats/18"></a></h3>
    <h3>19 : <a href="http://localhost:8090/ats/19"></a></h3>
    <h3>20 : <a href="http://localhost:8090/ats/20"></a></h3> -->
  </body>
</html>
